<%= form_for(@article, :action => resource(@article)) do %>
<div class="post">
	<h2 class="title"><%= text_field :title %></h2>
	<div class="entry">	
		<em> body: </em>			
		<p> <%= text_area :body, :cols => 60, :rows => 20 %></p>
	</div>
  <p>
    <%= submit "Create" %>
  </p>
</div>
<% end =%>
<%= link_to 'Show', resource(@article) %> | <%= link_to 'Back', resource(:articles) %>

