<%= merb_paginate @articles %>
<hr />
<% @articles.each do |article| %>

<div class="post">
	<h2 class="title"><%=h article.title %></h2>
	<p class="meta">
		<em> 
				<% if login? %>
					<%= link_to 'Edit', resource(article, :edit) %> | 
					<%= link_to 'Delete', resource(article, :delete), :class => 'delete' %>
				<% end %>		
		</em>
	</p>
	<div class="entry">				
		<%= link_to h(article.body) , resource(article) %> 
		<br />
		<p><%= article.created_at.strftime("%m/%d/%Y %I:%M") %>  |  <span class="red"><%=h article.comments.count %></span> comments</p>
	</div>
</div>
<hr />
<% end %>

<%= merb_paginate @articles %>

<div align="center">

<% if login? %>
	<%= link_to 'New Article', resource(:articles, :new) %>
<% end %>

</div>

<hr />