<%= merb_paginate @articles %>
<hr />
<% @articles.each do |article| %>

<div class="post">
	<h2 class="title"><%=h article.title %></h2>
	<p class="meta">
		<em>
			{ Posted on  on <%= article.created_at.strftime("at %I:%M%p %m/%d/%Y") %> 
				<% if login? %>
					<%= link_to 'Edit', resource(article, :edit) %> | 
					<%= link_to 'Delete', resource(article, :delete), :class => 'delete' %>
				<% end %>		
		 	}
		</em></p>
	<div class="entry">				
		<%= link_to h(article.body) , resource(article) %> 
		<br />
		<p><%=h article.comments.count %> people left message</p>
	</div>
</div>
<hr />
<% end %>

<%= merb_paginate @articles %>

<div align="center">

<% if login? %>
	<%= link_to 'New Article', resource(:articles, :new) %>
<% end %>

</div>

<hr />