<% @articles.each do |article| %>

<div class="post">
	<h2 class="title"><%=h article.title %></h2>
	<p class="meta">
		<em>
			{ Posted on  on <%= article.created_at.to_s %> 
				<% if login? %>
					<%= link_to 'Edit', resource(article, :edit) %> | 
					<%= link_to 'Delete', resource(article, :delete), :class => 'delete' %>
					<hr />
				<% end %>		
		 	}
		</em></p>
	<div class="entry">				
		<%= link_to h(article.body) , resource(article) %> 
	</div>
</div>

<% end %>

<% if login? %>
	<%= link_to 'New Article', resource(:articles, :new) %>
<% end %>