<%= form_for(@article, :action => resource(:articles) ) do %>

	<div class="post">
		<h2 class="title"><%= text_field :title %></h2>
		<div class="entry">	
			<em> body: </em>			
			<p> <%= text_area :body , :cols => 60, :rows => 20 %></p>
		</div>
	  <p>
	    <%= submit "Create" %>
	  </p>
	</div>
	
<% end =%>

<div align="center">
<%= link_to 'Back', resource(:articles) %>
</div>