<h3><%=h @article.title %></h3>
<hr />
<b><%=h @article.slug %></b>
<p>
  <%=h @article.body %>
</p>
<h2> Comments: </h2>
<% if !@article.comments.blank? %>
  <% for comment in @article.comments %>
    <b><%=h comment.name %></b>
	<p><%=h comment.body %></p> <br /> (<%=h comment.created_at  %>)
  <% end %>
<% else %>
  
<% end %>

<%= form_for(@comment, :action =>resource(@article, :comments) ) do %>
	<h2>name</h2>
	<p>
	  <%= text_field :name %>
	</p>
	<h2>Message</h2> 
	<p>
	  <%= text_area :body %>
	</p>
  <p>
    <%= submit "leave a message" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:articles) %>