

<div class="post">
	<h3 class="title"><%=h @article.title %></h3>
	<div class="entry">				
		<p> <%=h @article.body %></p>
	</div>
</div>

<br />

<h4> Comments: </h4>
<% if !@article.comments.blank? %>
  <% for comment in @article.comments %>
    <b>[<%=h comment.name %>]</b> said (<%=h comment.created_at.strftime("at %I:%M%p %m/%d/%Y")  %>) <br />
	<p><%=h comment.body %></p>
  <% end %>
<% else %>
  
<% end %>

<br />
<%= form_for(@comment, :action =>resource(@article, :comments) ) do %>

<div class="post">
	<h2 class="title"><%= text_field :name %></h2>
	<div class="entry">	
		<em> body: </em>			
		<p> <%= text_area :body, :cols => 60, :rows => 20 %></p>
	</div>
  <p>
    <%= submit "leave a message" %>
  </p>
</div>

<% end =%>

<%= link_to 'Back', resource(:articles) %>